body {
    font-family: 'Arial', sans-serif;
    background-color: #f4f4f4;
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    min-height: 100vh;
    color: #333;
}

h1 {
    color: #333;
    margin-bottom: 0.5em;
    text-align: center;
}

p {
    margin-bottom: 1.5em;
    text-align: center;
}

ul {
    list-style: none;
    padding: 0;
    text-align: center;
}

ul li {
    margin: 10px 0;
}

ul li a {
    text-decoration: none;
    color: white;
    background-color: #234a9e;
    padding: 10px 15px;
    border-radius: 4px;
    transition: color 0.3s ease, background-color 0.3s ease;
    display: inline-block; /* Aligns items like buttons */
    margin: 5px 0; /* Space between list items */
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1); /* Subtle shadow for depth */
    transition: background-color 0.3s;
}

ul li a:hover {
    color: black;
    background-color: #f2b615;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2); /* Deeper shadow on hover for a 'lifting' effect */
}

@media (max-width: 600px) {
    h1 {
        font-size: 1.5rem;
    }

    ul li a {
        padding: 8px 12px;
    }
}
