<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Registration Successful</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='registration_success_styles.css') }}">
</head>
<body>
    <div class="container">
        <h1>Registration Successful!</h1>
        <p>Congratulations, you're on board for an amazing experience at <strong>{{ event.name }}</strong>!</p>
        <p>Stay tuned! We'll be sending some exciting updates and information to your email. Keep an eye on your inbox for exclusive content and get ready for an unforgettable event.</p>
    </div>
</body>
</html>
